[submodule "rpp-h"]
	path = dev/hypothesis-backend/rpp-h
	url = git@github.com:tgiardina/rpp-h.git
[submodule "rpp-sidebar"]
	path = rpp-sidebar
	url = git@github.com:tgiardina/rpp-sidebar.git
[submodule "rpp-wiki"]
	path = rpp-wiki
	url = git@github.com:tgiardina/rpp-wiki.git
